.station-item {
  padding-top: 20px;
}
img {
  width: 100%;
  height: 100%;
  max-width: 250px;
  max-height: 250px;
}

.navbar {
  background-color: #D3BECF;
}

.navbar-form {
  margin-right: 15px;
}
